%h4.pt-0.text-white
  ="#{@round.number.to_s}ᵉ manche"
  =fa_icon "long-arrow-alt-right"
  
  =" #{@game.nb_cards_for_round(@round.number)} carte#{"s" if @game.nb_cards_for_round(@round.number)>1}"
.card#current_totals
  .card-body
    .row
      -nb_losers=@players_total_scores.count< 5 ? 1 : 2
      -@players_total_scores.each_with_index do |(p,s),index|
        -mc="col "
        -mc+=" text-danger" if index<nb_losers
        =render :partial=>"player_current_total", :locals => {:mc => mc, :p=>p, :s=>s, :g=>@game}
%small.text-white.pull-right
  Encore  
  =@game.nb_rounds-@round.number+1
  manches à jouer
  
  
  