
.card.border-dark
  .card-header.text-center.bg-dark.text-white
    %h4.card-title Parties

  %table.table.table-striped.card-body
  
    %tbody
      - @games.each do |game|
        %tr
          %td
            = link_to  game_recap_path(game.id) do
              = game.location
              = game.title
          
          %td
            =game.is_finished? ? "Terminée" : "En cours"
          %td.d-none.d-lg-table-cell
            =game.gametime
  %br