
.card.card-body
  %h4.card-title.text-center Players
  %p.card-text 
    .row
      - @players.each do |player|
        .col-6.text-center
          = link_to player, :class=>"card bg-dark text-white py-3" do
            =player.name 
          %br
     
  
  .flex-row.text-center

    
    = link_to 'Nouveau Player', new_player_path, :class=>"card-link btn btn-primary"
