
.card.card-body
  %h4.card-title.text-center Players
  %p.card-text 
    .row
      - @players.each do |player|
        .col-6.text-center
          = link_to player, :class=>"card bg-dark text-white text-center py-3" do
            .text-center
              -if player.avatar.present?
                =image_tag "animals/#{player.avatar}.png", size: "40"
              -else
                =image_tag "animals/sheep-1.png", size: "40"
            .h4.mt-2.mb-0
              =player.name 
          %br
     
  
  .flex-row.text-center

    
    = link_to 'Nouveau Player', new_player_path, :class=>"card-link btn btn-primary"
