.card.card-body
  %h4.card-title Nouveau player
  %p.card-text 
    %p
      %b Name:
      = @player.name
  .flex-row
    = link_to 'Retour', players_path, :class=>"card-link"
    = link_to 'Modifier', edit_player_path(@player), :class=>"pull-right card-link btn btn-info"
    
