.card.card-body
  %h4.card-title Modification de <%= singular_table_name %>
  
  %p.card-text
    = render 'form'
    
  .flex-row
    = link_to 'Voir', @<%= singular_table_name %>
    \|
    = link_to 'Retour', <%= index_helper %>_path
