.card.card-body
  %h4.card-title Modification de performance
  
  %p.card-text
    = render 'form'
    
  .flex-row
    = link_to 'Voir', @performance
    \|
    = link_to 'Retour', performances_path
